.container {
  background-color: #d1d1ff32;
  min-height: 300px;
  padding-top: 8rem;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.divider {
  height: 0.5px;
  width: 100%;
  background: gainsboro;
}

.breadcrumbs {
  font-size: 0.9em;
  color: #131243;
}

.texts {
}

.texts h3 {
  font-size: 3rem;
}

.texts p {
  font-size: 0.9rem;
  color: var(--color-text);
}
