@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

html {
  scroll-behavior: smooth;
}

:root {
  --text: #000000bf;
  --primary-deep: #332f9a;
  --primary-deep-2: #131243;
  --primary: oklch(0.205 0 0);
  --primary-transparent: #6f6afc42;
  --primary-transparent-2: #d1d1ff;
  --primary-light: rgba(184, 176, 255, 0.223);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-primary-deep: var(--primary-deep);
  --color-primary-deep-2: var(--primary-deep-2);
  --color-primary: var(--primary);
  --color-primary-transparent: var(--primary-transparent);
  --color-primary-transparent-2: var(--primary-transparent-2);
  --color-primary-light: var(--primary-light);
  --font-sans: var(--font-poppins);

  /* ! MARQUEE */
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-sans) !important;
  scroll-behavior: smooth !important;
}

.main__container {
  width: 60%;
  margin: auto;
}

.background-hero {
  background-image: url("../assets/images/banner.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 1200px) {
  .main__container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .main__container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .main__container {
    width: 95%;
  }
}

/* Base styles (apply to all screens, especially mobile) */
body {
  font-size: 16px;
}

/* ? ----------------------------- MEDIA QUERIES -------------------------------- */
/* Small devices (phones landscape, small tablets) */
@media (min-width: 576px) {
}

/* Medium devices (tablets landscape, small laptops) */
@media (min-width: 768px) {
}

/* Large devices (desktops, large laptops) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}

/* Optional: For ultra-wide screens */
@media (min-width: 1400px) {
}
