.form {
  flex: 0.5;
  width: 100%;
  border-radius: 10px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  small {
    color: var(--color-text);
  }
}

.header {
  background: var(--color-primary-deep);
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 2em;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  h4 {
    font-size: 1.4em;
  }
}

.flexForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 20px;
  margin-block: 0.6em;
}

.flexInput {
  display: flex;
  gap: 12px;
}

.divider {
  height: 0.5px;
  width: 100%;
  background: gainsboro;
  margin-block: 1.5em;
}

.error {
  font-size: 0.8em;
  margin: 10px;
  color: red !important;
}

.success {
  font-size: 0.8em;
  margin: 10px;
  color: green !important;
}
