.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.container label {
  color: var(--color-text);
  font-size: 0.9em;
}

.container textarea {
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 12px 8px;
  transition: 500ms ease;
  font-size: 0.9em;
  color: var(--color-text);
  outline: none;

  &:focus {
    border-color: var(--color-primary);
  }
}
